/* .cPzvSw {
  background-color: #0584f5 !important;
  border-color: #0584f5 !important;
}

.kikeeD {
  color: #0584f5 !important;
}
.heblzW {
  color: #0584f5 !important;
}
.gYuOFw {
  background-color: #0584f5 !important;
}

.izILVj {
  background-color: #0584f5 !important;
}
.bolHfm.active svg path {
  fill: red !important;
}
.gfUUAh {
  color: #0584f5 !important;
}

.dBdca.active svg path
 */

.dARxaP {
  background-color: #0584f5 !important;
  border-color: #0584f5 !important;
}

.btsVtI.active .sc-bAomZO {
  color: #0584f5 !important;
  background-color: #0584f5 !important;
}
.btsVtI.active {
  border-right: 2px solid #0584f5 !important;
}
.btsVtI.active {
  color: #0584f5 !important;
}
.heblzW {
  color: #0584f5 !important;
}
.fVWRHM {
  background-color: #0584f5 !important;
}

.dBdca.active svg path {
  fill: #0584f5 !important;
}
.hXijwN.active svg path {
  fill: #0584f5 !important;
}

.kuPeCj {
  background-color: #0584f5 !important;
}

.dARxaP[aria-disabled="true"] {
  border: 1px solid #dcdce4 !important;
  background: #eaeaef !important;
  color: #666687;
  cursor: default;
}

/* .CodeMirror.cm-s-default.CodeMirror-wrap {
  height: 50% !important;
}

.CodeMirror.cm-s-default.CodeMirror-wrap {
  transform-origin: top left;
}
.hDbkDE {
  background-color: black;
}
.CodeMirror-sizer {
  min-height: 150px !important;
}

.kMvzJl {
  height: auto !important;
} */
