@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("Fonts.css");

body {
  background-color: #03000d;
  color: #f6f6f6;
}
.grotzec {
  font-family: "Grotzec", sans-serif; /* Asegúrate de que el nombre coincida con el definido en @font-face */
}

.aeonik {
  font-family: "Aeonik", sans-serif;
}

/* H1 - Desktop */
.h1Title {
  font-family: "Grotzec", sans-serif; /* Asegúrate de que el nombre coincida con el definido en @font-face */
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 51px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* H2 - Desktop (&MOB) h2Title */
.h2Title {
  font-family: "Grotzec", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 39px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

/* MOB AND DESK */
.buttonText {
  font-family: "Aeonik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* SubHeading Special - Desktop&Mobile */
.subH {
  font-family: "Grotzec", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
}

.subH2 {
  /* 2SubHeading Special */
  font-family: "Grotzec", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}

.body0 {
  /* Body 0 - Mobile */
  font-family: "Aeonik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
}
/* Body 1 - Desktop&Mobile */
.body1 {
  font-family: "Aeonik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Body 2 - Desktop&Mobile */
.body2 {
  font-family: "Aeonik", sans-serif; /* Asegúrate de que el nombre coincida con el definido en @font-face */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* Body 3 - Desktop&Mobile */
.body3 {
  font-family: "Aeonik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.loaderFont {
  font-family: "Thunder";
  font-style: italic;
  font-weight: 700;
  font-size: 80px;
  line-height: 74px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Media queries para pantallas menores a 1000px */
@media (min-width: 1135px) {
  .h1Title {
    font-size: 90px;
    line-height: 82px;
    letter-spacing: -0.03em;
  }

  .loaderFont {
    font-size: 160px;
    line-height: 147px;
  }
  .body0 {
    /* Body 0 - Mobile */
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 392px) {
  .smallLetter {
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}

.whtie-50-op {
  background: rgba(255, 255, 255, 0.05);
}

select {
  color: #c7cbd6 !important;
}
select:focus-visible {
  outline: none !important;
}
input:focus,
textarea:focus {
  outline: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 1000px #0f0d19 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important; /* Color del cursor igual al texto */
}

.react-international-phone-input {
  margin-left: 8px !important;
  height: 50px !important;
  background-color: #0f0d19 !important;
}

.react-international-phone-country-selector-button {
  width: 77px !important;
  height: 50px !important;
  background-color: #0f0d19 !important;
  border: solid 1px #434652 !important;
}
.react-international-phone-country-selector-dropdown__list-item-country-name {
  font-family: "Aeonik", sans-serif !important;
}

.react-international-phone-input {
  border: solid 1px #434652 !important;
  color: #a2a2a2 !important;
}

.react-international-phone-input-container {
  color: #a2a2a2 !important;
}

input {
  color: #a2a2a2 !important;
}
.phone-input .country-selector__button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.react-international-phone-country-selector-dropdown {
  width: min-content !important;
}

ul.react-international-phone-country-selector-dropdown:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: #0f0d19; */
  /* color: white; */
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
