.partner-bg {
  background: radial-gradient(
    ellipse 150% 150% at right center,
    /* Ajusta las proporciones del elipse */ rgba(5, 132, 245, 0.9) 8%,
    /* Azul intenso en el centro */ rgba(0, 0, 0, 1) 30%,
    /* Empieza la transición al negro */ rgba(0, 0, 0, 1) 40%,
    /* Negro más presente */ rgba(0, 0, 0, 1) 100% /* Negro completo */
  );

  background-color: black;
}

.veo-bg {
  background: radial-gradient(
      ellipse 252.2px 197px at 50% 40%,
      rgba(5, 132, 245, 0.6) 1%,
      rgba(5, 132, 245, 0) 130%
    ),
    linear-gradient(180deg, #03000d 0%, rgba(3, 0, 13, 0.7) 45.5%, #03000d 100%),
    url("../assets/veocam-bg.webp");
  height: 750px;
  background-size: contain, cover; /* Ajusta el tamaño del ellipse y de la imagen */
  background-position: center center, center, center; /* Ubica cada capa */
  background-repeat: no-repeat; /* Evita repeticiones */
  transform: scaleY(1); /* Invierte la imagen */
}

@media (max-width: 800px) {
  .partner-bg {
    /* background: radial-gradient(
      ellipse 150% 150% at center bottom,
      rgba(5, 132, 245, 0.9) 8%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%
    ); */
    background: radial-gradient(
      ellipse 280% 230% at center bottom,
      rgba(5, 132, 245, 0.9) 8%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .veo-bg {
    background: radial-gradient(
        ellipse 252.2px 197px at center 251px,
        rgba(5, 132, 245, 0.8) 1%,
        rgba(5, 132, 245, 0) 130%
      ),
      linear-gradient(
        180deg,
        #03000d -179%,
        rgba(3, 0, 13, 0.7) 79.5%,
        #03000d 100%
      ),
      url("../assets/veocam-bg.webp");

    height: 700px;
    background-size: cover, cover; /* Ajusta el tamaño del ellipse y de la imagen */
    background-position: center center, center, center; /* Ubica cada capa */
    background-repeat: no-repeat; /* Evita repeticiones */
    transform: scaleY(1); /* Invierte la imagen */
    margin-bottom: 120px;
  }
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {

  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {

  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 130px;
  margin: auto;
  overflow: hidden !important;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 130px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slide-track {
  animation: scroll 45s linear infinite;
  display: flex;
  width: calc(
    2 * 1500px
  ); /* Make it twice the slider width to enable looping */
}

.slide-track-2 {
  animation: scroll2 45s linear infinite;
  display: flex;
  width: calc(
    2 * 1500px
  ); /* Make it twice the slider width to enable looping */
}

.slide {
  background-color: #1b1b1b;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box; */
  border-radius: 7px;
  margin-right: 20px;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.locations-container {
  /* display: flex; */
  /* justify-content: space-between; */
}

.location {
  position: relative;
  /* width: 280px; */
  height: fit-content;
}

.location-item {
  cursor: pointer;
  color: #a5a39f;
  /* height: 60px; */
}

.text-location {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  transition: 300ms;
}

.text-location.text-active {
}

.location-item.active {
  color: #03000d !important;
}

.text-location:hover {
  color: #03000d;
}

.text-location.text-active:hover {
  /* color: red; */
}

.location-content {
  /* width: 90%; */
  position: relative;
}
.image-container {
  position: relative;
  overflow: hidden;
  /* width: 648px; */
  /* height: 666px; */
  filter: drop-shadow(0px 0px 94px rgba(0, 0, 0, 0.1));
  /* border-radius: 8px 0px 0px 8px; */
}

.location-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.location-image.exiting {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.location-image.next {
  position: absolute;
  top: 0;
  z-index: -1;
}

.location-text {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.l-gradient-starred {
  background: linear-gradient(35.31deg, #0024a6 -37.15%, #5fcdff 98.6%);
}
.background-transition {
  transition: background-image 500ms ease;
}

.description-container {
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

.description-container.visible {
  opacity: 1; /* Se vuelve visible cuando tiene la clase 'visible' */
}
