.ellipse {
  position: absolute;
  width: 445px;
  height: 167px;
  left: -55vw;
  top: calc(60% - 167px / 2 - 102.5px);
  background: #0584f5;
  /* filter: blur(127px); */
  transform: rotate(90deg);
  z-index: -1;
}

.lang-selector {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 78px;
  height: 34px;
  background: rgba(255, 255, 255, 0.1);
}

/* Navbar background with gradient to simulate ellipse effect */
.navbar-background {
  height: 100dvh;
  background: radial-gradient(
    ellipse at -50% 50%,
    /* Mueve el centro hacia la izquierda fuera de la pantalla */
      rgba(5, 132, 245, 0.8) 0%,
    rgba(5, 132, 245, 0) 70%
  );

  background-color: black;
}

.bg-frame {
  background-image: url("../assets/frame-bg.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.line {
  color: #f6f6f6;
  text-align: center;
  width: 90px;
  position: absolute;
  bottom: -15px;
  transition: left 0.5s ease; /* Movemos el dot suavemente */
}

.line.transitioning {
  transition: left 0.5s ease; /* Tiempo de transición */
}
.nav-dot a {
  text-decoration: none;
  height: 20px;
  width: 90px;
  display: inline-block;
  text-align: center;
}

.prefooter-bg {
  width: 100%;
  height: 790px;
  background: radial-gradient(
    ellipse at center,
    rgba(5, 132, 245, 0.3) 0%,
    /* Azul claro con menor opacidad */ rgba(5, 132, 245, 0) 100%
      /* Transparente hacia afuera */
  );
  background-color: black; /* Fondo de respaldo en negro */
  z-index: -1;
}

.first-card {
  position: absolute;
  width: 214.58px;
  height: 226px;
  background: #0584f5;
  border-radius: 8px;
  transform: rotate(7deg);
}

.second-card {
  position: absolute;
  width: 214.58px;
  height: 291px;
  left: 28px;
  top: 434.97px;

  background: #0024a6;
  border-radius: 8px;
  transform: rotate(-4deg);
}
@media (max-width: 920px) {
  .nav-dot a {
    display: none;
  }
  .line {
    display: none;
  }
}
